// Heading Sizes:
$heading_16: 16px;
$heading_18: 18px;
$heading_26: 26px;
$heading_34: 34px;
$heading_68: 68px;
$heading_110: 110px;

// Text Sizes:
$text_14: 14px;
$text_16: 16px;
$text_18: 18px;
$text_26: 26px;

// Colors:
$grey_color: #a5a5a5;
$dark_color: #141414;

//Font-family:
$heading_font_family: 'Power Grotesk', sans-serif;
$text_font_family: 'Spoof', Arial, Helvetica, sans-serif;
